@media only screen
    and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px)
    {
      h1, h2 {
        font-size: 21px;
        line-height: inherit;
      }
      p {
        font-size: 14px;
        padding-left: 15px;
      }
      .paragraph ul {
        padding-left: 15px;
      }
      .paragraph ul li {
        font-size: 14px;
      }
      .logo {
        width: 80%;
      }
      .portfolio-thumbnails__thumbnail {
        width: 50%;
        float: left;
        height: 350px!important;
        overflow: hidden;
      }
      .portfolio-thumbnails__thumbnail h2 {
        font-size: 38px;
      }
      .img--thumb.--full img {
      	max-width: 100%;
      }
      .img--thumb {
        max-height: 100px;
      }
      .contact-container {
        max-width: 100%;
        padding: 25px;
      }
      .casey-hald {
      	height: 465px;
      }
      .contact-container .paragraph ul li {
        padding: 10px 0 0 0;
      }
      .portfolio__inner h2 {
        font-size: 24px;
      }
      .portfolio__inner {
        overflow: hidden;
      }
      .video__inner video {
        max-height: 100px;
      }
      .paragraph ul {
        width: 350px;
      }
      .paragraph {
        padding-bottom: 0px;
      }
      .casey-hald {
        height: 150px;
      }
  }
