/* fonts */
@font-face {
	font-family: 'SSStandard';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/ss-standard.eot');
	src: url('../fonts/ss-standard.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ss-standard.woff') format('woff'),
		url('../fonts/ss-standard.ttf') format('truetype'),
		url('../fonts/ss-standard.svg#SSStandard') format('svg');
}
@font-face {
	font-family: 'SSSocial';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/ss-social-regular.eot');
	src: url('../fonts/ss-social-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ss-social-regular.woff') format('woff'),
		url('../fonts/ss-social-regular.ttf') format('truetype'),
		url('../fonts/ss-social-regular.svg#SSStandard') format('svg');
}
/* styles */
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  animation: colorchange 50s infinite;
  -webkit-animation: colorchange 50s infinite;
}
